<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App - Main</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="mainBlur"></div>
    <header class="main-header-container">
        <div id="header_title" class="main-header-div">
            <i class="fas fa-3x fa-th-list"></i>
            <h2 class="main-title">To Do App</h2>
        </div>
        <div id="header_function" class="main-header-div">
            <div class="main-function">
                <div id="add_lay" class="main-function-divP">
                    <i class="fas fa-plus-circle"></i>
                    <p id="add_p" class="main-function-p">Add Tasks</p>
                </div>
                <div id="add_div" class="main-function-div"></div>
            </div>
            <div class="main-function">
                <div id="profile_lay" class="main-function-divP">
                    <i class="fas fa-user-alt"></i>
                    <p id="profile_p" class="main-function-p">Profile</p>
                </div>
                <div id="profile_div" class="main-function-div"></div>
            </div>
            <div class="main-function">
                <div id="task_lay" class="main-function-divP">
                    <i class="fas fa-sign-out-alt"></i>
                    <p id="task_p" class="main-function-p">Log Out</p>
                </div>
                <div id="task_div" class="main-function-div"></div>
            </div>
        </div>
        <div id="side_menu_div" class="side-menu-div">
            <i id="side_menu" class="fas fa-3x fa-align-justify"></i>
            <i id="side_cancel" class="fas fa-3x fa-times-circle"></i>
        </div>
    </header>
    <div id="side_menu_container" class="side-menu-container">
        <div class="side-menu-function-div">
            <i class="fas fa-plus-circle"></i>
            <p id="add_side" class="main-function-p">Add Tasks</p>
        </div>
        <div class="side-menu-function-div">
            <i class="fas fa-user-alt"></i>
            <p id="profile_side" class="main-function-p">Profile</p>
        </div>
        <div class="side-menu-function-div">
            <i class="fas fa-sign-out-alt"></i>
            <p id="task_side" class="main-function-p">Log Out</p>
        </div>
    </div>
    <div class="main-body-container">
        <p id="main_body_welcome"></p>
        <div id="task_container" class="my-task-container">
            
        </div>
        <div id="add_container" class="main-add-container">
            <div class="main-add-title">Add Tasks</div>
            <input id="add_title" type="text" class="main-add-input" placeholder="Title">
            <input id="add_desc" type="text" class="main-add-input" placeholder="Describe">
            <input id="add_date" type="text" class="main-add-input" placeholder="Date: DD/MM/YYYY">
            <input id="add_time" type="text" class="main-add-input" placeholder="Time">
            <div class="main-add-btn-container">
                <button id="add_cancel" class="main-add-btn">Cancel</button>
                <button id="add_add" class="main-add-btn">Add</button>
            </div>
        </div>
        <div id="edit_container" class="main-add-container">
            <div class="main-add-title">Edit Tasks</div>
            <p class="main-edit-p">Title</p>
            <input id="edit_title" type="text" class="main-edit-input" placeholder="Title">
            <p class="main-edit-p">Description</p>
            <input id="edit_desc" type="text" class="main-edit-input" placeholder="Describe">
            <p class="main-edit-p">Date</p>
            <input id="edit_date" type="text" class="main-edit-input" placeholder="Date: DD/MM/YYYY">
            <p class="main-edit-p">Time</p>
            <input id="edit_time" type="text" class="main-edit-input" placeholder="Time">
            <div class="main-add-btn-container">
                <button id="edit_cancel" class="main-add-btn">Cancel</button>
                <button id="edit_add" class="main-add-btn">Edit</button>
            </div>
        </div>
        <div id="profile_container" class="main-add-container">
            <div class="main-add-title">Profile</div>
            <div class="user-edit-div"><i class="far fa-3x fa-user"></i></div>
            <p class="main-profile-p">Name</p>
            <input type="text" id="profile_name" class="main-profile-input" placeholder="Enter your name" readonly>
            <p class="main-profile-p">Password</p>
            <input type="text" id="profile_pass" class="main-profile-input" placeholder="Enter your password">
            <p class="main-profile-p">Phone Number</p>
            <input type="text" id="profile_phone" class="main-profile-input" placeholder="Enter your phone">
            <p class="main-profile-p">Birth Date</p>
            <input type="text" id="profile_birth" class="main-profile-input" placeholder="Enter your birth date">
            <div class="main-profile-btn-container">
                <button id="profile_cancel" class="main-profile-btn">Cancel</button>
                <button id="profile_edit" class="main-profile-btn">Edit</button>
            </div>
        </div>
    </div>

    <script src="js/mainScript.js"></script>
</body>
</html>