*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
p, h1, h2, button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}
.blur{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background:rgba(0,0,0,0.5);
    display:none;
}
.index-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.index-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: turquoise;
}
.icon-box{
    width: 150px;
    height: 150px;
    background-color: turquoise;
    box-shadow: 1px 1px 11px 4px white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
}
.icon-box i{
    color: white;
}
.index-left-p{
    color: white;
}
.index-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.index-right-p{
    text-align: center;
    font-size: 20px;
    margin-top: -100px;
    margin-bottom: 100px;
    color: turquoise;
    font-weight: bold;
}
.index-right-btn{
    width: 180px;
    height: 60px;
    background-color: turquoise;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
}
.index-right-btn:hover{
    font-size: 22px;
}
.login-popUp{
    width: 500px;
    height: 300px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #8EF0DA;
    display: none;
}
.signin-popUp{
    width: 500px;
    height: 450px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #8EF0DA;
    display: none;
}
.popUp-title{
    width: 100%;
    height: 50px;
    background-color: turquoise;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.popUp-title h2{
    color: white;
}
.popUp-input{
    display: block;
    width: 350px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid turquoise;
    outline: none;
}
.popUp-btn-container{
    width: 80%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.popUp-btn{
    margin: 10px 50px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid turquoise;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}
.fa-1x{
    padding-right: 10px;
}
#login_cancel:hover, #signUp_cancel:hover{
    border: 2px solid red;
    font-size: 17px;
}
#login_log:hover, #signUp_log:hover{
    border: 2px solid black;
    font-size: 17px;
}
.error-message{
    width: 60%;
    height: 40px;
    background-color: turquoise;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: none;
    transition: .3s ease-out;
    border-radius: 10px;
}
.far{
    color: red;
    cursor: pointer;
    padding-right: 20px;
}